@CHARSET "windows-31j";
/*全体レイアウト*/
	/*2015/02/06追加*/
body#doc {
/*	background-color: #E0E9E0; ------------------------>2013/03/13改修
	background-color: #e0e9e0;
	margin: 0px;
	padding: 0px; 
	letter-spacing: -1px;*/

	font-size: 13px;
  height: auto;
  padding-bottom: 20px;
  	background-color:#fff;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#A9BCF5,endColorStr=#fafafa) no-repeat;/*IE*/   
    background:-moz-linear-gradient(top,#A9BCF5,#fafafa) no-repeat;/*firefox*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#A9BCF5), to(#fafafa)) no-repeat;/*google*/        
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0,#A9BCF5),color-stop(1, #fafafa)) no-repeat;/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9BCF5', endColorstr='#fafafa'); /*IE6 & IE7*/  
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa', endColorstr='#A9BCF5')"; /*  IE8 */ 
background-image: url(IMAGE), -webkit-gradient(linear, left top, left bottom, from(#A9BCF5), to(#ffffff));
background-image: url(IMAGE), -webkit-linear-gradient(top, #A9BCF5,#ffffff);
background-image: url(IMAGE), -moz-linear-gradient(top, #A9BCF5,#ffffff);
background-image: url(IMAGE), -ms-linear-gradient(top, #A9BCF5,#ffffff);
background-image: url(IMAGE), -o-linear-gradient(top, #A9BCF5,#ffffff);
background-image: url(IMAGE), linear-gradient(to bottom, #A9BCF5,#ffffff);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A9BCF5', endColorstr='#ffffff',GradientType=0 ) ;
background-repeat:no-repeat, repeat-x;

}



/*ヘッダレイアウト（改善案）*/
div#head {
	width: 100%;
	background-repeat:repeat-x;
	margin: 0px;
	padding: 0px;
}


/*コンテンツタイトルレイアウト*/
div#head div#title {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 0px dotted;
	border-right: 0px dotted;
	border-bottom: 0px dotted;
	border-left: 0px dotted;
	padding-bottom: 0px;
/*	padding-left: 20px;  ------------------------>2013/03/13改修*/
	height:34px;
	line-height: 34px;
/*	background-image: url(../img/bgimg_conttitle.png);  ------------------------>2013/03/13改修*/
	background-repeat: repeat-x;
	font-size: 10pt;
}

/*コンテンツタイトル*/
div#title h1 {
	font-size: 12pt;
	font-weight: bold;
	text-indent: 5px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	letter-spacing: 0px;
}

/*テーブル*/
div.list {
/*	width: 95%;            */
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px; 
}

/*パターン５ height:250*/
div.list div.l-tbl-auto {
	height: 200px;     
	overflow-y: auto;
}

/*テーブル*/
div.list table.l-tbl {
	border-collapse: collapse;
	width: 98%;       
	margin-right: 0px;
	margin-left: 0px;  
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}


/*ユーザーマスタのテーブル*/
div.list table.userl-tbl {
	border-collapse: collapse;
	width: 25%;       
	margin-right: 0px;
	margin-left: 0px;  
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}



/*見出し（修正版）*/
div.list th.l-cellsec {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: left;
/*	font-weight:normal; 2013/03/15改修--------------*/
	font-weight: bold;                                 
/*	color: #FFFFFF; 2013/03/15改修--------------*/
	/*color: #2F4F4F;*/
	color:#ffffff;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #778C46;
    background-image: url(../img/td_even1.gif); 2013/03/15
	background-repeat: repeat-x;
/*	background-color: #5483B6;  2013/03/15改修--------------*/
	background-color: #5483b6;
	height: 20px;
}

div.list th.l-cellsecr {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: right;
	font-weight:normal;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #778C46;
	background-image: url(../img/td_even1.gif);
	background-repeat: repeat-x;
	background-color: #ffffff;
	/*background-color: #5483B6; -->*/
	height: 20px;
}

/*見出し（修正版）*/
div.list th.l-cellcenter {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: center;
	font-weight:normal;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #778C46;
    background-image: url(../img/td_even1.gif);
	background-repeat: repeat-x;
    background-color: #5483B6;
	/*background-color: #ffffff;*/
	height: 20px;
}

/*奇数行（改善案）*/
div.list td.l-cellodd {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: left;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 1px;
	border: 1px solid #778C46;
	/*background-color: #E6E6FA;*/
	background-color:#f8f3e7;
/*	background-color: #F8F3E7;  2013/03/19改修---------------*/
   background-image: url(../img/td_odd.gif); 
	background-repeat: repeat-x;
	height: 20px;
}


/*OrderEditConfirm.php使う*/
div.list td.l-celloddk {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align:right;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 1px;
	border: 1px solid #778C46;
	background-color:#f8f3e7;
    background-image: url(../img/td_odd.gif); 
	background-repeat: repeat-x;
	height: 20px;
}

div.list td.l-celloddh {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: center;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 1px;
	border: 1px solid #778C46;
	/*background-color: #E6E6FA;*/
	background-color:#f8f3e7;
/*	background-color: #F8F3E7;  2013/03/19改修---------------*/
   background-image: url(../img/td_odd.gif); 
	background-repeat: repeat-x;
	height: 20px;
}
/*OrderEditConfitm.php使うーーー終わり*/
/*偶数行（改善案）*/
div.list td.l-celleven {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: left;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #778C46;
	background-color: #E8E8E8;
	background-image: url(../img/td_even.gif);
	background-repeat: repeat-x;
	height: 20px;
}

/*奇数行右寄せ※数値データ表示時（改善案）*/
div.list td.l-celloddr {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: right;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #778C46;
	height: 20px;
	background-color: #F8F3E7;
	background-image: url(../img/td_odd.gif);
	background-repeat: repeat-x;
}

/*偶数行右寄せ※数値データ表示時（改善案）*/
div.list td.l-cellevenr {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: right;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #778C46;
	background-color: #FFFFFF;
	height: 20px;
	background-color: #E8E8E8;
	background-image: url(../img/td_even.gif);
	background-repeat: repeat-x;

}

/*------------------------------------------------txt------------------------------------------------*/
/*黒色文字(10pt)*/
span.txt-black {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
}

/*黒色文字(12pt)*/
span.txt-black1 {
	font-family: "ＭＳ ゴシック";
	font-size: 12pt;
}

/*灰色文字(10pt)*/
span.txt-gray {
	font-family: "ＭＳ ゴシック";
	color: gray;
	font-size: 10pt;
}

/*灰色文字(12pt)*/
span.txt-gray1 {
	font-family: "ＭＳ ゴシック";
	color: gray;
	font-size: 12pt;
}

/*青色文字(10pt)*/
span.txt-blue {
	font-family: "ＭＳ ゴシック";
	color: BLUE;
	font-size: 10pt;
}

/*青色文字(12pt)*/
span.txt-blue1 {
	font-family: "ＭＳ ゴシック";
	color: BLUE;
	font-size: 12pt;
}

/*注意文字(赤字)*/
span.txt-attention {
	font-family: "ＭＳ ゴシック";
	color: #FF0000;
	font-size: 10pt;
}

/*強調文字(太字)*/
span.txt-emphasis {
	font-size: 10pt;
	font-family: "ＭＳ ゴシック";
	color:  #FF0000;
/*	font-weight: bold; */
}

/*単位表記*/
span.txt-unit {
	font-size: 10pt;
	line-height: 120%;
}

/*改行不可*/
span.txt-nowrap {
	font-family: "ＭＳ ゴシック";
	white-space: nowrap;
}

/*単位表記*/
span.txt-small {
	font-family: "ＭＳ ゴシック";
	font-size: 8pt;
}

/*************************
*テキストボックス
**************************/
.txt {
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
}
/*英数字のみ入力可能*/
.txt_imeoff {
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	ime-mode:disabled;
}
/*英数字のみ入力可能*/
.txt_imenum {
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	ime-mode:disabled;
	text-align : right;
}
/*日本語モード*/
.txt_imeon {
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	ime-mode:active;
}

/*テキストエリア*/
textarea.txta {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	border: 1px solid #6C8295;
}

/*テキストエリア(入力不可)*/
textarea.txta-readonly {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	border: 1px solid #6C8295;
	background-color: #DEDEDE;
}



/*フォームボタン(テーブル内)*/
input.i-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 9pt;
    background-color: #E9E9E9;
	/*background-color: #3CB371;*/
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #333333;
    color: #333333;
	/*color: #E6E6FA;*/
	cursor: hand;
}


input.s-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;           
	width: 108px;
	border: 1px solid #333333;
	background-color: #E9E9E9;
	background-repeat: repeat-x; 
	cursor: hand;
	padding: 3px;                 
	margin-left: 5px;
	color: #4C4C4C;              
}

input.s-btn1 {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;            
	width: 130px;
	border: 1px solid #333333;
	background-color: #E9E9E9;
	background-repeat: repeat-x;
	cursor: hand;
	padding: 3px;               
	margin-left: 5px;
	color: #4C4C4C;     
}
/* 2015/2/9 追加*/
input.m-btn {                                 
	font-family: "ＭＳ ゴシック";                      
	/* 

	font-size: 11pt;                                   
	font-weight: bold;                                 
	padding: 4px 3px;                                  
	width: 128px;                                      
	margin-left: 5px;                                  
	cursor: hand;                                      
color: #555555;     */                               
/*	background-color: #E9E9E9; -----------------2013/03/13改修*/
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
} 
/* 2015/2/9 追加*/
.m-btn :hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
/* 2015/2/9 追加*/
.m-btn :active {
	position:relative;
	top:1px;
}
/*コード表示----2013/03/05追加----*/
#disp {
	margin-right: 20px;
}

